<div class = "top-hero-wrapper test-center">
  <div class = "container top-hero-container">
    <h1 class = "text-black">モノとヒトのながれをなめらかに</h1>
    <h2 class = "text-black">gigiで簡単にすぐに買い物が出来ます</h2>
     <div class = "row">
       <div class = "col-md-offset-3 col-md-3">
         <%= link_to 'ログインはこちら', {:controller => "sessions", :action => "new"}, class: 'btn btn-block btn-black' %>
       </div>
       <div class = "col-md-3">
         <%= link_to '新規登録はこちら', {:controller => "users", :action => "new"}, class: 'btn btn-block btn-black' %>
       </div>
     </div>
    </div>
  </div>
</div>
