html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

img{
    height: 40px;
  }

h1,h2{
  font-weight:100;
}

.text-white{
  color:#fff;
}

.text-black{
  color:#000;
}

.btn-white{
  color:#fff;
  border:1px solid #fff;
  padding-top:15px;
  padding-bottom:15px;
  font-size:20px;
  background-color:rgba(0,0,0,0.0);

  &:hover{
    color:#fff;
  }
}


.btn-black{
  color:#000;
  border:1px solid #000;
  padding-top:15px;
  padding-bottom:15px;
  font-size:20px;
  background-color:rgba(0,0,0,0.0);

  &:hover{
    color:#000;
  }
}

.btn-show-black{
  color:black;
  border:3px solid black;
  padding-top:10px 0;
  font-size:15px;
  background-color:rgba(0,0,0,0.0);
  margin-bottom:10px;

  &:hover{
    color:black;
  }
}

.btn-secound{
  margin-left: 15px;
}

.btn-edit-black{
    color: #565656;
    border: 1px solid #565656;
    padding:10px;
    margin-top:40px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
      color: #565656;
    }
  }


  .navbar-brand{
    padding:0px;
    margin-top:15px;
  }
  .navbar-transparent{
  background-color:rgba(0,0,0,0.0);
  a{
    color:#fff !important;
  }
}

.box{
  float:right;
}


.top-hero-wrapper{
  width:100vw;
  height:100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:  scroll;
  background-size:cover;

  .top-hero-container{
    padding-top:220px;
  }

}


.users-new-wrapper{
  width:100vw;
  height:100vh;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-color: #464646;

  .users-new-container{
    padding-top:220px;

    .form-group{
      margin-bottom:20px;
    }
  }
}


.user-show-wrapper{
  width:100vw;
  height:100vh;
  padding-top:150px;

  .user-intro{
    width:400px;
    p{
      margin-top:30px;
      margin-left:60px;
    }
  .user-img{
    margin-top:25px;
    margin-left:50px;
  }
  .user-profile{
    width:100%;
    text-align:left;
    margin-top:40px;
  }
}
.back-home{
   margin-top:75px;
 }

}

.users-edit-wrapper{
  width:100vw;
  height:100vh;
  background-repeat:no-repeat;

  .edit-user{
    padding-top:150px;
  }
}
.user-index-wrapper{
  width:100vw;
  height:100vh;
  background-color:#EEEEEE;
  background-clip:padding-box;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;

  .user-index-container{
    padding-top:220px;
  }
  .index-title{
    padding-top:30px;
    text-align:center;
  }

}

.sessions-new-wrapper{
width:100vw;
height:100vh;

.login{
  margin-top:100px;
}
}

.product-new-wrapper{
  width:100vw;
  height:100vh;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
  .product-new-container{
    padding-top:150px;
  }

  .form-group{
    margin-bottom:20px;
  }
}
